<!DOCTYPE html>
<html>
<head>
  {{> head}}
  <title>{{title}}</title>
  {{> header}}</style>
<body>
    <div class="ui text container">
        {{{body}}}
    </div>
  {{footerScript}}
</body>
</html>